<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{student.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <mat-chip-list #chipList>
      <mat-chip 
        *ngFor="let course of student.courses" 
        [selectable]="selectable" 
        [removable]="removable" 
        (remove)="remove(course)"
      >
        {{course.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>


  </mat-card-content>
  <mat-card-actions>
    <mat-form-field class="demo-chip-list">
      <input 
        matInput 
        placeholder="New Course..." 
        [matChipInputFor]="chipList" 
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" 
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)" 
      />
    </mat-form-field>
  </mat-card-actions>
</mat-card>
